body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #4682b4;
    text-align: center;
}
form {
    text-align: center;
    margin-bottom: 20px;
}
button {
    background-color: #ffcccb;
    color: #4682b4;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}
button:hover {
    background-color: #ffb6c1;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
li:nth-child(odd) {
    background-color: #f9f9f9;
}
.book-image {
    width: 50px;
    height: auto;
    margin-right: 15px;
}
.book-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.book-title {
    font-size: 16px;
    font-weight: bold;
    color: #4682b4;
    text-decoration: none;
    margin-bottom: 5px;
}
.book-title:hover {
    text-decoration: underline;
}
.book-author, .book-genre, .book-rating, .book-ratings-count {
    font-size: 14px;
    color: #555;
}
.book-rating {
    font-weight: bold;
    background-color: #ffcccb;
    padding: 2px 5px;
    border-radius: 3px;
    width: fit-content;
}
.book-ratings-count {
    font-size: 14px;
    color: #777;
}

